@page "/"

<PageTitle>Home</PageTitle>

<p>Hi, welcome.</p>

<p>This is just a simple app that shows you how to use <strong>Blazor for front end (UI)</strong>, and the back end (database) is stored in <strong>Azure Cosmos DB</strong>.</p>

<p>Welcome, and click the <strong>Sales Orders</strong> tab to start!</p>

<p>You can also access the <strong style="">source code</strong>: <a href="https://github.com/vinaykalasannavar/vinay-blazor-azurecosmosdb">here</a></p>
